<html>
<head>
<style>
body * {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.gray {
	color: #gray;
}
</style>

<script src="https://system.netsuite.com/core/media/media.nl?id=5265&c=240300&h=31934dceb99c08c81f18&_xt=.js"></script><!-- jquery -->
<script src="https://system.netsuite.com/core/media/media.nl?id=1516&c=240300&h=a57d197a8bdaea09efca&_xt=.js"></script><!-- underscore -->
<script>

var hook = true;
window.onbeforeunload = function() {
  if (hook) {
    return "Did you save your stuff?"
  }
}
function unhook() {
  hook=false;
}

$(document).ready(function() {
    
	var data = <%= data %>;
	if(data.length==0) {
  		$('.wait').hide();
  		$('.failures').hide();
  		$('.nothing').show();
	   	return;
	}
	
	$('.wait').show();
	$('.failures').hide();
	$('.nothing').hide();
   	
	// Tracking counters
	var counter = _.keys(data).length;
	var totalProcessed = 0;
	
	$('#total').html(counter);
    
	var failures = [];
	var success = [];
	
	for (var orderId in data) 
	{	
		var orderLines = data[orderId];
		if(orderLines!=null) 
		{
			var url = "<%= suiteletURL %>";
			var params = {
				oid: orderId,
				lines: JSON.stringify(orderLines)
			};
		
			$.post(url, params, function(data) {
				var json = JSON.parse(data);
				console.log(data);
		  	   	totalProcessed ++;
		  	   	
		  	  	if(!json.success) {
		  	   		failures.push({
		  	   			tranid: json.tranid,
		  	   			message: json.message,
		  	   			url: json.url
		  	   		});
		  	   	} else {
		  	   		success.push({
		  	   			tranid: json.tranid
		  	   		});
		  	   	}
		  	  	
		  	  	$('#percent').html(function(i, val){
		  	  		return Number(val) + 1;
		  	  	});
		  	  	
		  	  	// Check if we're done
		  	   	if( totalProcessed == counter) {
		  	   		
		  	   		// Some failed
		  	   		if(failures.length>0) {
		  	   			// Show which PRs got error
		  	   			showError(failures, success);
		  	   		}
		  	   		else 
		  	   		{
		  	   			// All done, no failure
		  	   			window.location = "<%= suiteletBaseURL %>";	
		  	   		}
		  	   		
		  	   	}
		 	});
	 	}
	}
    
  	function showError(failures, success) 
  	{
  		$('.wait').hide();
  		$('.nothing').hide();
  		
  		var message = '';
  		if(success.length>0) {
  			message = '<p style="margin-bottom: 10px">'+success.length + ' invoices were created successfully.</p>';
  		}
  		
  		message += '<p>The following DO# failed:</p>';
  		
  		message += '<ol style="margin-top: 10px">';
  		for ( var i = 0; i < failures.length; i++) {
  			var data = failures[i];
  			message += '<li>' + data.tranid + '<span style="color: gray"> - ' + data.message +'</span></li>';
		}
  		message += '</ol>';
  		message += '<p style="margin-top: 30px"><a href="<%= suiteletBaseURL %>">Back to previous screen</a></p>';
  		
  		var failHtml = $('.failures');
  		failHtml.html(message);
  		failHtml.show();
  	}
  
    
});
</script>
</head>


<body>

	<p>
	<table border="0" class="wait" style="display:none">
		<tr>
			<td>Please wait while invoice are being created (<span id="percent">0</span> of <span id="total">0</span>) .. </td>
			<td valign="middle"><img src="https://system.netsuite.com/core/media/media.nl?id=5582&c=240300&h=55837eafd5946bd811c2" width="35%" /></td>
		</tr>
	</table>
	</p>
	
	<p class="failures" style="display: none"></p>
	
	<div class="nothing" style="display: none">
		<p>There is nothing to approve.</p>
		<p style="margin-top: 30px"><a href="<%= suiteletBaseURL %>">Back to approval screen</a></p>
	</div>


</body>

</html>