<tr class="data-row">
	<td align="left">{detail}</td>
	<td align="center" valign="middle">{atc}</td>
	<td align="right" valign="middle">{quarterAmount1}</td>
	<td align="right" valign="middle">{quarterAmount2}</td>
	<td align="right" valign="middle">{quarterAmount3}</td>
	<td align="right" valign="middle">{totalBaseAmount}</td>
	<td align="right" valign="middle" style="border-right: none;">{totalTaxAmount}</td>
</tr>
