<script>
</script>
		<link name='arabic' type='font' subtype='opentype' src='{reportFont}' src-bold='{reportFont}' src-italic='{reportFont}' src-bolditalic='{reportFont}' bytes='1'></link>
		<style>
			#withholding-form {
				width: 760px;
				border:1px solid #000000;
				font-family: Verdana, Arial, Helvetica, sans-serif, arabic;
				font-size: 11px;
			}
			
			#wform-head {
				height: 80px;
			}
			
			#wform-head .form-head-item {
				float:left;
			}
			
			#wform-head #form-logo {
				width:27%;
				font-size:9px;
				padding-top:5px;
			}
			
			#wform-head #form-title {
				width:50%;
				font-size:30px;
				text-align: center;
			}
			
			#wform-head #form-number {
				width:17%;
				font-size: 9px;
				float:right;
			}
			
			#wform-head #form-number .form-number-disp {
				font-size:40px;
			}
			
			#payee-fields td {
				font-family: Verdana,Arial,Helvetica,sans-serif;
				font-size:10px;
				height:30px;
			}
			
			#payee-fields td.wh-between {
				height: 15px;
			}
			
			#payee-fields td.wh-divider table {
				width:100%;
			}
			
			#payee-fields td.wh-divider table td {
				height: 15px;
				font-weight:bold;
			}
			
			#payee-fields td.wh-divider {
				border-top: 1px solid #000000;
				border-bottom: 1px solid #000000;
			}
			
			#payee-fields input {
				border: 1px solid #000000;
				width:100%;
			}
			
			/* payment tables */
			
			#payment-table1 {
				border-collapse:collapse;
			}
			
			#payment-table1 tr th {
				background-color: #cccccc;
				font-size:10px;
			}
			
			#payment-table1 th, #payment-table1 td {
				border:1px solid #666666;
			}
			
			#payment-table1 td.detail-col {
				border-left: none;
			}
			
			#payment-table1 .col1 {
				width:30%;
				border-left:  none;
			}
			
			#payment-table1 .payment-col {
				width:11%;
			}
			
			#payment-table1 .tax-quarter {
				border-right:none;
			}
			
			#wh-declare {
				margin-bottom:20px;
				text-indent:20px;
			}
			
			
			/* signature tables */
			
			.sign-table td{
				text-align: center;
				padding:10px;
				vertical-align:top;
			}
			
			.sign-table {
				font-size: 10px;
			}
			
			.sign-table .wh-sign-here {
				width:100%;
				border-bottom:1px solid #333333;
			}
			
			#wh-sign2 {
				border-top:2px solid #666666;
			}
			
			#conforme-label {
				text-align:left;
			}
			
			
			.wh-summary-line th {
				text-align:center;
			}
			
			.wh-summary-line td {
				text-align:right;
				font-size: 11px;
			}
			
			tr.detail-row {
				font-size:11px;
			}
			
			td.value-col {
				text-align:right;
			}
			
			td.atc-col {
				text-align:center;
			}
			
		</style>
		

<div id="withholding-form">
	
	<div id="wform-head">
		
		<div id="form-logo" class="form-head-item">
			<img src="{logoUrl}" align="left" height="50px"/>Republika ng Pilipinas<br>
			Kagawaran ng Pananalapi<br>
			Kawanihan ng Rentas Internas

		</div>
		
		<div id="form-title" class="form-head-item">Certificate of Creditable Tax Withheld At Source</div>
		<div id="form-number" class="form-head-item">
			BIR Form No.<br>
			<span class="form-number-disp">2307</span><br>
			September 2005 (ENCS)
			</div>
		
	</div>
		
	<table style="border-collapse:collapse; background-color:#CCCCCC" id="payee-fields" width="100%">
		<tr>
			<td colspan="4" class="wh-between wh-divider">
				<table>
					<tr>
						<td width="50px;">Part I</td>
						<td align="center">Payee Information</td>
					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td width="18%" valign="middle">Taxpayer<br>Identification Number</td>
			<td valign="middle" colspan="3"><input type="text" value="{payeeTin}" class="wtax" id="payeetin" onchange="return updateField('custpage_or_payeetin', this)"></td>
		</tr>
		
		<tr>
			<td valign="middle">Payee&#39;s Name</td>
			<td valign="middle" colspan="3"><input type="text" value="{payeeName}" class="wtax" id="payeename" maxlength="97" onchange="return updateField('custpage_or_payeename', this)"></td>
		</tr>
		
		<tr>
			<td class="wh-between">&nbsp;</td>
			<td colspan="3" align="center" class="wh-between">(Last Name, First Name, Middle Name for Individuals) (Registered Name for Non-Individuals)</td>
		</tr>
		
		<tr>
			<td valign="middle">Registered Address</td>
			<td width="56%" valign="middle"><input type="text" value="{payeeAddress}" class="wtax" id="payeeaddress" maxlength="67" onchange="return updateField('custpage_payee_reg_address', this)"></td>
			<td width="" valign="middle" align="right">Zip Code</td>
			<td valign="middle"><input type="text" maxlength="4" value="{payeeZip}" class="wtax" id="payeezip" onchange="return updateField('custpage_or_payeezip', this)"></td>
		</tr>
		
		<tr>
			<td valign="middle">Foreign Address</td>
			<td valign="middle"><input type="text" class="wtax" id="foreignaddress" maxlength="67" onchange="return updateField('custpage_payee_freg_address', this)"></td>
			<td width="8%" valign="middle" align="right">Zip Code</td>
			<td width="18%" valign="middle"><input type="text" class="wtax" id="foreignzip" maxlength="4" onchange="return updateField('custpage_or_payeefzip', this)"></td>
		</tr>

		<tr>
			<td colspan="4" class="wh-between wh-divider">
				<table >
					<tr>
						<td width="50px;">Part II</td>
						<td align="center">Details of Monthly Income Payments and tax Withheld for the Quarter</td>
					</tr>
				</table>
			</td>
		</tr>		
	</table>
	

	
	<div id="wform-part2">
		<table id="payment-table1" cellpadding="2px">
			<tr>
				<th rowspan="2" class="col1">Income Payments Subject to Expanded Withholding Tax</th>
				<th rowspan="2" class="payment-col">ATC</th>
				<th colspan="4">AMOUNT OF INCOME PAYMENTS</th>
				<th rowspan="2" class="tax-quarter">Tax Withheld For the Quarter</th>
			</tr>
			<tr>
				<th class="payment-col">1st Month of the quarter</th>
				<th class="payment-col">2nd Month of the quarter</th>
				<th class="payment-col">3rd Month of the quarter</th>
				<th class="payment-col">Total</th>
			</tr>
			{taxRows}
			<tr class="wh-summary-line">
				<th>Total</th>
				<td>&nbsp;</td>
				<td>{totalQuarterAmount1}</td>
				<td>{totalQuarterAmount2}</td>
				<td>{totalQuarterAmount3}</td>
				<td>{totalBaseAmount}</td>
				<td class="tax-quarter">{totalTaxAmount}</td>
			</tr>
		</table>
	</div>
</div>



