<table table-layout="fixed" width="100%" id="form-head">
	<tr>
		<td width="32%" id="form-logo" style="font-weight:normal; font-size:8px; background: none; padding-left:2mm ; padding-top:2mm;">
			<table width="100%">
				<tr>
					<td rowspan="3" width="30%" style="padding:0px; margin:0px">
						<img height="50px" width="50px" src="{logoUrl}"/>
					</td>
					<td width="70%">
						Republika ng Pilipinas
					</td>
				</tr>
				<tr>
					<td>
						Kagawaran ng Pananalapi
					</td>
				</tr>

				<tr>
					<td>
						Kawanihan ng Rentas Internas
					</td>
				</tr>					
			</table>
		</td>
		<td width="40%" > <p align="center" style="padding-top:2mm; font-size:20px; line-height: 24px;font-weight:normal;">Certificate of Creditable Tax <br/> Withheld At Source</p> </td>
		<td width="28%" style="background: none;">
			<p style="margin-left: 90px;">
				<span style="font-size:9px">BIR Form No.</span><br/>
				<span style="font-weight:normal; font-size:33px">2307</span><br/>
				<span style="font-size:9px">September 2005 (ENCS)</span>
			</p>
		</td>
	</tr>
</table>

<table id="wh-date-range" width="100%" class="header-field-table" style="border-top:1px solid #333333;">
	<tr>
		<td width="20%" padding="2px">
			<table border="0px" padding="0px">
				<tr>
					<td rowspan="2" width="8px" padding="0px"><p align="left">1</p></td>
					<td padding="0px">For the Period</td>
				</tr>
				<tr>
					<td>From</td>
				</tr>
			</table>	
		</td>
		<td  width="12%" padding="2px">
			
			<table class="data-box" border="0px" width="100%">
				<tr>
					<td class="separated-box txFirst"><p align="center">{fromPeriod0}</p></td>
					<td class="separated-box txLast"><p align="center">{fromPeriod1}</p></td>
					<td class="separated-box"><p align="center">{fromPeriod2}</p></td>
					<td class="separated-box txLast"><p align="center">{fromPeriod3}</p></td>
					<td class="separated-box"><p align="center">{fromPeriod4}</p></td>
					<td class="separated-box txLast"><p align="center">{fromPeriod5}</p></td>
				</tr>
			</table>			
			
			
		</td>
			
		<td width="18%" padding="2px" valign="middle"><p align="left">(MM/DD/YY)</p></td>			
			
		<td width="10%" padding="2px" valign="middle"><p align="right">To</p></td>
		<td width="12%" padding="2px">
			
			<table class="data-box" border="0px">
				<tr>
					<td class="separated-box txFirst"><p align="center">{toPeriod0}</p></td>
					<td class="separated-box txLast"><p align="center">{toPeriod1}</p></td>
					<td class="separated-box"><p align="center">{toPeriod2}</p></td>
					<td class="separated-box txLast"><p align="center">{toPeriod3}</p></td>
					<td class="separated-box"><p align="center">{toPeriod4}</p></td>
					<td class="separated-box txLast"><p align="center">{toPeriod5}</p></td>
				</tr>
			</table>

						
		</td>
		
		<td width="28%" valign="middle"><p align="left">(MM/DD/YY)</p></td>
	</tr>
</table>

<table width="100%" class="header-field-table" style="border-top:1px solid #333333; background-color:#CCCCCC;">
	<tr style="border-bottom: 1px solid #000000; border-top: 1px solid #000000">
		<td colspan="4" padding="0px"><div style="padding:0px; position:absolute; top:-9px; left: 2px; height:5px; "><span style="margin:0px; ">Part I</span></div><p align="center">Payee Information</p></td>
	</tr>
	
	<tr style="border-top:1px solid #333333;">
		<td width="20%" padding="2px">
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td rowspan="2" width="8px" padding="0px">2</td>
					<td padding="0px">Taxpayer</td>
				</tr>
				<tr>
					<td padding="0px">Identification Number</td>
				</tr>
			</table>
		</td>
		<td colspan="3" padding="2px">
			<table class="data-box" border="0px">
				<tr>
					<td class="separated-box txFirst"><p align="center">{payeeTin0}</p></td>
					<td class="separated-box"><p align="center">{payeeTin1}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payeeTin2}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payeeTin3}</p></td>
					<td class="separated-box"><p align="center">{payeeTin4}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payeeTin5}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payeeTin6}</p></td>
					<td class="separated-box"><p align="center">{payeeTin7}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payeeTin8}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payeeTin9}</p></td>
					<td class="separated-box"><p align="center">{payeeTin10}</p></td>
					<td class="separated-box txLast"><p align="center">{payeeTin11}</p></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td valign="middle" padding="2px">
			<table width="100%" border="0px"  padding="0px">
				<tr>
					<td width="8px"  padding="0px">3</td>
					<td padding="0px">Payee&#39;s Name</td>
				</tr>
			</table>
			
			
		</td>
		<td colspan="3" padding="2px">
			<table width="100%" class="wh-text">
				<tr>
					<td valign="middle" padding-left="5px"> {payeeName}<!-- name here--> </td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="20%" valign="middle">&nbsp;</td>

		<td width="80%" colspan="3">
			 <p align="center">(Last Name, First Name, Middle Name for Individuals) (Registered Name for Non-Individuals)</p> 
		</td>		
	</tr>	
	
	<tr>
		<td width="20%" valign="middle" padding="2px">
			<table width="100%" border="0px"  padding="0px">
				<tr>
					<td width="8px"  padding="0px">4</td>
					<td padding="0px">Registered Address</td>
				</tr>
			</table>
		</td>
		
		<td width="55%" padding="2px">
			<table width="100%" class="wh-text">
				<tr>
					<td valign="middle"  padding-left="5px"> {payeeAddress}</td>
				</tr>
			</table>
		</td>
		<td width="10%" valign="middle" padding="2px">
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td width="8px" padding="0px">4A</td>
					<td padding="0px">Zip Code</td>
				</tr>
			</table>			
		</td>
		<td width="15%" padding="2px">
			<table class="data-box" border="0px" width="100%">
				<tr>
					<td class="separated-box txFirst"><p align="center">{payeeZip0}</p></td>
					<td class="separated-box"><p align="center">{payeeZip1}</p></td>
					<td class="separated-box"><p align="center">{payeeZip2}</p></td>
					<td class="separated-box txLast"><p align="center">{payeeZip3}</p></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td valign="middle" padding="2px">
			<table width="100%" border="0px">
				<tr>
					<td width="8px"  padding="0px">5</td>
					<td padding="0px">Foreign Address</td>
				</tr>
			</table>
		</td>
		<td padding="2px">
			<table width="100%" class="wh-text">
				<tr>
					<td valign="middle" padding-left="5px"> {foreignAddress}<!-- address here --> </td>
				</tr>
			</table>
		</td>
		<td valign="middle" padding="2px">
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td width="8px" padding="0px">5A</td>
					<td padding="0px">Zip Code</td>
				</tr>
			</table>		
		</td>
		<td padding="2px">
			<table class="data-box" border="0px" width="100%">
				<tr>
					<td class="separated-box txFirst"><p align="center"> {payeeFZip0} </p></td>
					<td class="separated-box"><p align="center"> {payeeFZip1} </p></td>
					<td class="separated-box"><p align="center"> {payeeFZip2} </p></td>
					<td class="separated-box txLast"><p align="center"> {payeeFZip3} </p></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="border-bottom: 2px solid #000000; border-top: 2px solid #000000;">
		<td colspan="4"><p align="center">Payor Information</p></td>
	</tr>
	<tr>
		<td width="20%" padding="2px">
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td rowspan="2" width="8px" padding="0px">6</td>
					<td padding="0px">Taxpayer</td>
				</tr>
				<tr>
					<td padding="0px">Identification Number</td>
				</tr>
			</table>
		</td>
		<td  width="80%" colspan="3" padding="2px">
			<table class="data-box" border="0px">
				<tr>
					<td class="separated-box txFirst"><p align="center">{payorTin0}</p></td>
					<td class="separated-box"><p align="center">{payorTin1}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payorTin2}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payorTin3}</p></td>
					<td class="separated-box"><p align="center">{payorTin4}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payorTin5}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payorTin6}</p></td>
					<td class="separated-box"><p align="center">{payorTin7}</p></td>
					<td class="separated-box before-txDiv"><p align="center">{payorTin8}</p></td>
					<td class="divider-box"></td>
					<td class="separated-box"><p align="center">{payorTin9}</p></td>
					<td class="separated-box"><p align="center">{payorTin10}</p></td>
					<td class="separated-box txLast"><p align="center">{payorTin11}</p></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="20%" valign="middle" padding="2px">
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td width="8px" padding="0px">7</td>
					<td padding="0px">Payor&#39;s Name</td>
				</tr>
			</table>
		</td>
		<td width="80%" colspan="3" padding="2px">
			<table width="100%" class="wh-text">
				<tr>
					<td valign="middle" padding-left="5px"> {payorName}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="20%" valign="middle" padding="2px">&nbsp;</td>
		<td width="80%" colspan="3">
			 <p align="center">(Last Name, First Name, Middle Name for Individuals) (Registered Name for Non-Individuals)</p> 
		</td>		
	</tr>
	<tr>
		<td width="20%" valign="middle" padding="2px">
			
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td width="8px" padding="0px">8</td>
					<td padding="0px">Registered Address</td>
				</tr>
			</table>			
		</td>
		<td padding="2px">
			<table width="100%" class="wh-text">
				<tr>
					<td valign="middle" padding-left="5px"> {payorAddress}</td>
				</tr>
			</table>			
		</td>
		<td valign="middle" padding="2px">
			
			<table width="100%" border="0px" padding="0px">
				<tr>
					<td width="8px" padding="0px">8A</td>
					<td padding="0px">Zip Code</td>
				</tr>
			</table>			
		</td>
		<td padding="2px">
			<table class="data-box" border="0px" width="100%">
				<tr>
					<td class="separated-box txFirst"><p align="center">{payorZip0}</p></td>
					<td class="separated-box"><p align="center">{payorZip1}</p></td>
					<td class="separated-box"><p align="center">{payorZip2}</p></td>
					<td class="separated-box txLast"><p align="center">{payorZip3}</p></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="border-top:2px solid #000000;border-bottom:2px solid #000000;background-color:#CCCCCC;">
		<td colspan="4"><div style="padding:0px; position:absolute; top:-9px; left: 0px; height:5px; "><span style="margin:0px; ">Part II</span></div><p align="center">Details of Monthly Income Payments and Tax Withheld for the Quarter</p></td>
	</tr>
</table>
		
