<tr class="detail-row">
	<td class="detail-col">{detail}</td>
	<td class="atc-col" valign="middle">{atc}</td>
	<td class="value-col" valign="middle">{quarterAmount1}</td>
	<td class="value-col" valign="middle">{quarterAmount2}</td>
	<td class="value-col" valign="middle">{quarterAmount3}</td>
	<td class="value-col" valign="middle">{totalBaseAmount}</td>
	<td class="value-col tax-quarter" valign="middle">{totalTaxAmount}</td>
</tr>