<tr width="100%">
	<td align="right"><p>{seqNo}</p></td>
	<td align="left"><p class="registeredName">{entityName}</p></td>
	<td><p class="tin">{tin}</p></td>
	<td align="left"><p class="classification">{classification}</p></td>
	<td align="right"><p class="amountTaxBase">{taxBase}</p></td>
	<td align="right"><p class="taxWithheld">{taxWithheld}</p></td>
</tr>
