<tr width="100%">
	<td align="right"><p>{seqNo}</p></td>
	<td align="left"><p class="registeredName">{entityName}</p></td>
	<td><p class="tin">{tin}</p></td>
	<td align="left"><p class="classification">{classification}</p></td>
	<td><p class="ATC">{atc}</p></td>
	<td align="left"><p class="taxType">{taxType}</p></td>
	<td><p class="natureOfIncomePayment">{nature}</p></td>
	<td align="right"><p class="amountTaxBase">{taxBase}</p></td>
	<td align="right"><p class="taxRate">{taxRate}</p></td>
	<td align="right"><p class="taxWithheld">{taxWithheld}</p></td>
</tr>
