<tr>
	<td width="5%" class="bLine rLine data" align="right">{seq_no}</td>
	<td width="20%" class="bLine rLine data"><p align="left">{entity_name}</p></td>
	<td width="5%" class="bLine rLine data" align="left">{tin}</td>
	<td width="5%" class="bLine rLine data" align="left">{classification}</td>
	<td width="10%" class="bLine rLine data" align="right">{tax_base}</td>
	<td width="10%" class="bLine data" align="right">{tax_amount}</td>
</tr>
