<tr>
	<th class="rLine" width="5%">&nbsp;</th>
	<th class="rLine" width="20%">&nbsp;</th>
	<th class="rLine" width="5%">&nbsp;</th>
	<th class="rLine" width="5%">&nbsp;</th>
	<th class="rLine header" width="10%" align="right"><b>{totalBaseAmount}</b></th>
	<th width="10%" class="header" align="right"><b>{totalTaxAmount}</b></th>
</tr>
