<div style="width: 100%;">
    <!-- header -->
    <div style="width: 100%;">
        <table style="padding: 2px 5px 10px 5px;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="vertical-align: top; padding-left: 10px;">
                    <!-- link to post -->
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 12px;">
                        <a href="{newsfeedurl}">View more posts by clicking on this link.</a>
                    </div>
                    
                    <!-- line separator -->
                    <div style="padding: 0px 5px;">
                        <br/>
                        <div style="height: 0px; border-bottom: 1px solid #4a7ebb;"></div>
                        <br/>
                    </div>
                    
                    <!-- footer -->
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 11px; color: rgba(0,0,0,0.65);">You received this email because you are subscribed to this.  To change your email notifications, <a href="{profileurl}">click here</a>.</div>
                    <br/>
                </td>
            </tr>
        </table>
    </div>
</div><br/>
