<div style="width: 100%;">
    <!-- header -->    <!-- line separator -->    <div style="padding: 0px 5px;">        <div style="height: 0px; border-bottom: 1px solid #4a7ebb;"></div>        <br/>    </div>
    <div style="width: 100%;">
        <table style="padding: 2px 5px 10px 5px" cellpadding="0" cellspacing="0" >
            <tr>
                <!-- profile pic --> 
                <td style="vertical-align: top; horizontal-align: left;">
                    <img width="38" height="38" src="{imageurl}" />
                </td>
                <!-- name and other info -->
                <td style="vertical-align: top; padding-left: 10px;">
                    <!-- name -->
                    <div style="font-family: Arial; font-size: 12px; color: rgba(0,0,0,0.65);">                        <div style="float: left; font-family: Arial; font-size: 16px; font-weight: bold;">{sender}</div>                        <span style="font-family: Arial; font-style: italic; font-size: 14px; color: rgba(77, 95, 121, 0.7); margin-left: 5px;">{channel}</span>                    </div>
                    <!-- other info -->
                    <div style="font-family: italic; font-size: 12px; color: rgba(0,0,0,0.65);  margin-left: 2px; margin-top: 2px;">{date_created} </div>                    <br/>
                    <!-- message -->
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 14px;">{message}</div>
                    <br/>
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 14px;">{recordNameWithLink}</div>                    <br/>                    <div style="padding: 2px 5px; font-family: Arial; font-size: 14px;">{file}</div>                    <br/>
                </td>
            </tr>
        </table>
    </div>
</div><br/>
