<div style="width: 100%;">
    <!-- header -->
    <div style="width: 100%;">
        <table style="padding: 2px 5px 10px 5px;" cellpadding="0" cellspacing="0">
            <tr>
                <!-- profile pic -->
                <td style="vertical-align: top; horizontal-align: left;">
                    <img width="38" height="38" src="{imageurl}" />
                </td>
                <!-- name and other info -->
                <td style="vertical-align: top; padding-left: 10px;">
                    <!-- name -->
                    <div style="font-family: Arial; font-size: 15px; font-weight: bold;">{sender}</div>
                    <!-- other info -->
                    <div style="font-family: Arial; font-size: 12px; color: rgba(0,0,0,0.65);">mentioned you in a comment to {channel}{channel_label} on SuiteSocial, {date_created}</div>
                    <!-- message -->
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 14px;">{message}</div>
                    <!-- link to file -->
                    <div style="padding: 2px 5px;">{file}</div>
                    <br/>
                    
                    <!-- link to post -->
                    <div style="padding: 2px 5px; font-family: Arial; font-size: 12px;">
                        <a href="{newsfeedurl}">View the conversation or comment on {poster}'s post by clicking on this link.</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <!-- line separator -->
    <div style="padding: 0px 5px;">
        <br/>
        <div style="height: 0px; border-bottom: 1px solid #4a7ebb;"></div>
        <br/>
    </div>
    
    <!-- original post -->
    <div style="padding: 2px 5px;">
        <div style="font-family: Arial; font-size: 12px; font-weight: bold; font-style: italic; color: rgba(0,0,0,0.65);">In reply to {poster}:</div>
        <div style="font-family: Arial; font-size: 12px; font-style: italic; color: rgba(0,0,0,0.65);">{poster_message}</div>
    </div>
    
    <!-- line separator -->
    <div style="padding: 0px 5px;">
        <br/>
        <div style="height: 0px; border-bottom: 1px solid #4a7ebb;"></div>
        <br/>
    </div>
    
    <!-- footer -->
    <div style="padding: 2px 5px; font-family: Arial; font-size: 11px; color: rgba(0,0,0,0.65);">You received this email because the Alert on Mention setting is enabled in your SuiteSocial profile.  To change your email notifications, <a href="{profileurl}">click here</a>.</div>
    <br/>

</div>
