<span id='processing'></span>
<!-- this is used as tooltip help in line items -->
<div id='dadInfo' class='dadInfo' style='visibility:  hidden; z-index: 9001; position: absolute;'>
    Drop file in the highlighted line item
</div>
<div id='dadRecordDropZone' onclick='dadShowFolderMenu(event);' title='Drop files here or click to view more options.'>
    <a id='dadFolderOpen' href='#'><img id='dadImgFolderInfo' src='' /></a>
</div>
<div id='dadRecordDropZoneBackground'>
    <div id='dadRecordDropZoneBackgroundStatus' title='Click here for additional options or see your upload progress'>
        &nbsp;
    </div>
    <div id='dadRecordDropZoneBackgroundBar'>
        &nbsp;
    </div>
</div>
<!-- this is used in displaying the files attached to a line item -->
<div id="dadFilesBox" class="x-hidden">
    <div id='dadWindowHeader' class="x-window-header">
        Files Attached to Line
    </div>
    <div id='dadFilesContent' class="x-window-body">
        list of files will go here
    </div>
</div>
<!-- used for caching media items -->
<div id="dadTplImageCancelCache" style="display:none;">
    <img id="dadImageCancel" title="Cancel"/>
</div>
<!-- used for displaying tutorial buttons -->
<div id='dadTooltipbuttons' style='display: none;'>
    <table
        width="100%"
        cellspacing="0"
        cellpadding="0"
        border="0"
    >
        <tbody>
            <tr>
                <td>
                    <table
                        cellspacing="0"
                        cellpadding="2"
                        border="0"
                    >
                        <tbody>
                            <tr>
                                <td>
                                    <table
                                        id="tbl_dadbtnNext"
                                        class="uir-button"
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                    >
                                        <tbody>
                                            <tr
                                                id="tr_dadbtnNext"
                                                class="pgBntG pgBntB"
                                            >
                                                <td id="tdleftcap_dadbtnNext"><img
                                                    class="bntLT"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntLB"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                                <td
                                                    id="tdbody_dadbtnNext"
                                                    class="bntBgB dadTooltipButtonTdBody"
                                                    valign="top"
                                                    nowrap=""
                                                ><input
                                                    id="dadbtnNext"
                                                    class="rndbuttoninpt bntBgT"
                                                    type="button"
                                                    onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, true, this);"
                                                    onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, true, this);"
                                                    onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, true, this);"
                                                    onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, true, this);"
                                                    onclick="return dadSpotlight(event, '');"
                                                    name="refreshmessages"
                                                    value="Next Topic"
                                                    style=""
                                                    _mousedown="F"
                                                ></td>
                                                <td id="tdrightcap_dadbtnNext"><img
                                                    class="bntRT"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntRB"
                                                    width="3"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table
                                        id="tbl_dadbtnCancel"
                                        class="uir-button"
                                        cellspacing="0"
                                        cellpadding="0"
                                        border="0"
                                    >
                                        <tbody>
                                            <tr
                                                id="tr_dadbtnCancel"
                                                class="tabBnt"
                                            >
                                                <td id="tdleftcap_dadbtnCancel"><img
                                                    class="bntLT"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntLB"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                                <td
                                                    id="tdbody_dadbtnCancel"
                                                    class="bntBgB dadTooltipButtonTdBody"
                                                    valign="top"
                                                    nowrap=""
                                                    height="20"
                                                ><input
                                                    id="dadbtnCancel"
                                                    class="rndbuttoninpt bntBgT"
                                                    type="button"
                                                    onmouseover="if(this.getAttribute('_mousedown')=='T') setButtonDown(true, true, this);"
                                                    onmouseout="if(this.getAttribute('_mousedown')=='T') setButtonDown(false, true, this);"
                                                    onmouseup="this.setAttribute('_mousedown','F'); setButtonDown(false, true, this);"
                                                    onmousedown="this.setAttribute('_mousedown','T'); setButtonDown(true, true, this);"
                                                    onclick="Ext.Msg.hide(); return dadSpotlight(event, '');"
                                                    value="Close"
                                                    style=""
                                                ></td>
                                                <td id="tdrightcap_newmessage"><img
                                                    class="bntRT"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                > <img
                                                    class="bntRB"
                                                    width="10"
                                                    height="50%"
                                                    border="0"
                                                    src="/images/nav/ns_x.gif"
                                                ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>