<!-- start of suitelabs rating widget -->
<!--
How to use:
Set the return value of dadGetRatingMarkup() to the html element where you want it displayed.
The rating selected by the user can be obtained from variable dadGlobal.rating.
-->
<style type='text/css'>
    .dad-rating {
        cursor: pointer;
        margin-left: 2px;
        margin-top: 0px;
    }
</style>
<div id='dadRating' style='display: none'>
    <img id='dad-rating-1' src='https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772' onclick='ratingChosen(event);' class='dad-rating'/><img id='dad-rating-2' src='https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772' onclick='ratingChosen(event);' class='dad-rating'/><img id='dad-rating-3' src='https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772' onclick='ratingChosen(event);' class='dad-rating'/><img id='dad-rating-4' src='https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772' onclick='ratingChosen(event);' class='dad-rating'/><img id='dad-rating-5' src='https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772' onclick='ratingChosen(event);' class='dad-rating'/>
</div>
<script type='text/javascript'>
    var dadGlobal = dadGlobal || {};
    dadGlobal.rating = 0;
    function ratingChosen(e){
        e = e || window.event;
        var target = e.target || e.srcElement;
        var elId = target.id;
        dadGlobal.rating = parseInt(elId.replace('dad-rating-', ''));
        
        for (var i = 1; i <= 5; i++) {
            var elStar = document.getElementById('dad-rating-' + i);
            elStar.src = 'https://system.netsuite.com/core/media/media.nl?id=1046369&c=NLCORP&h=49de3bb452301ade3772';
        }
        for (var i = 1; i <= dadGlobal.rating; i++) {
            var elStar = document.getElementById('dad-rating-' + i);
            elStar.src = 'https://system.netsuite.com/core/media/media.nl?id=1046368&c=NLCORP&h=62302f4e24789f88c308';
        }
        
    }
    
    // store the markup in a global vara
    dadGlobal.ratingMarkup = document.getElementById('dadRating').innerHTML;
    // we need to delete the markup inside div dadRating because to prevent more than one star images having the same id 
    document.getElementById('dadRating').innerHTML = '';
    
    /**
     * This returns the markup of the 5 stars. The return value of this function is set to the innerHTML of the
     * element where you want the stars displayed
     */
    function dadGetRatingMarkup(){
        return dadGlobal.ratingMarkup;
    }
</script>
<!-- end of suitelabs rating widget -->
