<div class="data">
    <p>I declare under the penalties of perjury, that this certificate has been made in good faith, 
	verified by me, and to the best of my knowledge and belief is true and correct pursuant to the provisions of the NIRC, 
	and the regulations issued under the authority thereof; that the information contained herein completely reflects all 
	income payments with the corresponding taxes withheld from payees are duly remitted to the BIR and proper Certificate of 
	Creditable Tax Withold Tax at Source (BIR Form No. 2307) have been issued to payees; that, the information appearing herein 
	shall be consistent with the total amount remitted and that, inconsistent information shall result to denial of the claims  
	for expenses. 
    </p>
</div> 
<div id="map_report_footer_signature">   
    <br/>
    <br/>
    <br/>
    <p>__________________________________<br/><span class="lAlign">Signature over printed name<br/></span></p>
    <p>Taxpayer/Authorized representative</p>
    <br/>
</div>
<div id="map_report_footer_attachment">   
	<p>Attachments to BIR Form Nos. 1601-E, 1601-F, 1600</p>
</div>