<tr>
	<td width="5%" class="bLine rLine data" align="right">{seq_no}</td>
	<td width="5%" class="bLine rLine data" align="left">{tin}</td>
	<td width="25%" class="bLine rLine data"><p align="left">{entity_name}</p></td>
	<td width="5" class="bLine rLine data" align="left">{atc}</td>
	<td width="35%" class="bLine rLine data" align="left">{desc}</td>
	<td width="10%" class="bLine rLine data" align="right">{tax_base}</td>
	<td width="5%" class="bLine rLine data" align="right">{tax_rate}</td>
	<td width="10%" class="bLine data" align="right">{tax_amount}</td>
</tr>
