<table class="tLine rLine lLine" style="padding:0px; margin:0px" width="100%">
	<tr>
		<td width="40%" style="font-size:9px;">
			<table width="100%">
				<tr>
					<td rowspan="3" width="30%" style="padding:0px; margin:0px">
                        
						<img height="50px" width="50px" src="{PhBirLogoUrl}" />
					</td>
					<td width="70%">
						Republika ng Pilipinas
					</td>
				</tr>
				<tr>
					<td>
						Kagawaran ng Pananalapi
					</td>
				</tr>

				<tr>
					<td>
						Kawanihan ng Rentas Internas
					</td>
				</tr>					
			</table>
			<span style="font-size:8px;">(Except for transactions involving onerous transfer<BR/>of real property classified as ordinary asset)</span>
		</td>
		<td width="40%" style="font-size:16px;">
			<div style="width:250px;"><p align="center"><b>Monthly Remittance Return of Creditable Income Taxes Withheld (Expanded)</b></p></div>
		</td>
		<td width="20%">
			<span style="font-size:10px;">BIR Form No.</span><br/>
			<span style="font-size:30px;"><b>1601-E</b></span><br/>
			<span style="font-size:10px;">August 2008 (ENCS)</span>
		</td>
	</tr>
</table>

<table width="100%" class="font9 lLine rLine" style="border-top: 2px solid #000000; border-bottom: 2px solid #000000;" cellpadding="0">
	<tr>
		<td width="100%" colspan="3">Fill in all applicable spaces. Mark all appropriate boxes with an "X".</td>
	</tr>
</table>

<table class="header-detail lLine rLine" width="100%" cellpadding="0">
	<tr>
		<td width="40%" style="border-bottom: none">
			<table width="100%">
				<tr>
					<td width="40%" style="border-right: none; border-bottom: none">
						<b>1</b>&nbsp;For the Month:<br/>
						&nbsp;&nbsp;(MM/YYYY)
					</td>
					<td width="60%" align="center" style="border-right: none; border-bottom: none"> 
						<table class="data-box" border="0px">
							<tr>
								<td style="font-size:12px;" class="separated-box txFirst">{monthDisplay_0}</td>
								<td style="font-size:12px;" class="separated-box txLast">{monthDisplay_1}</td>
								<td style="font-size:12px;" class="separated-box">{monthDisplay_2}</td>
								<td style="font-size:12px;" class="separated-box">{monthDisplay_3}</td>
								<td style="font-size:12px;" class="separated-box">{monthDisplay_4}</td>
								<td style="font-size:12px;" class="separated-box txLast">{monthDisplay_5}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="20%" style="border-bottom: none"><p align="center">
			<b>2</b>&nbsp;&nbsp;Amended Return ?<br/>
			<span class="pbox mycheck">&nbsp;</span> Yes <span class="pbox mycheck">&#160;</span> No
		</p></td>
		<td width="20%" style="border-bottom: none"><p align="center">
			<b>3</b>&nbsp;&nbsp;
			No. of Sheets Attached<br/>
			<span class="pbox mycheck"> &nbsp; </span><span class="pbox mycheck next-pbox"> &#160; </span></p>
		</td>
		<td width="20%" style="border-bottom: none; border-right: none;"><p align="center">
			<b>4</b>&nbsp;&nbsp;Any Taxes Withheld ?<br/>
			<span class="pbox mycheck">&nbsp;</span> Yes <span class="pbox mycheck">&#160;</span> No
		</p></td>
	</tr>
</table>


<table width="100%" style="border-top: 2px solid #000000; " class="header-detail lLine rLine">
	<tr>
		<td width="10%" style="border-right: none;"><b>Part I</b></td>
		<td width="90%" style="border-right: none;" align="center"><b>Background Information</b></td>
	</tr>
</table>

<table width="100%" class="header-detail lLine rLine" >
	<tr>
		<td width="5%" style="border-right: none;"><b>5</b>&nbsp;&nbsp;TIN:</td>
		<td width="35%">
			<table class="data-box" border="0px" align="right">
				<tr>
					<td style="font-size:12px;" class="separated-box txFirst">{tin_0}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box">{tin_1}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box before-txDiv">{tin_2}&nbsp;</td>
					<td style="font-size:12px;" class="divider-box"></td>
					<td style="font-size:12px;" class="separated-box">{tin_3}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box">{tin_4}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box before-txDiv">{tin_5}&nbsp;</td>
					<td style="font-size:12px;" class="divider-box"></td>
					<td style="font-size:12px;" class="separated-box">{tin_6}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box">{tin_7}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box before-txDiv">{tin_8}&nbsp;</td>
					<td style="font-size:12px;" class="divider-box"></td>
					<td style="font-size:12px;" class="separated-box">{tin_9}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box">{tin_10}&nbsp;</td>
					<td style="font-size:12px;" class="separated-box txLast">{tin_11}&nbsp;</td>
				</tr>
			</table>
		</td>
		<td width="20%"><b>6</b>&nbsp;&nbsp;RDO Code: <div class="pbox mycheck" style="display:inline; font-size:12px; height:15px;"><span>&#160;</span></div><div class="pbox mycheck next-pbox" style="display:inline; font-size:12px; height:15px;"><span>&#160;</span></div><div class="pbox mycheck next-pbox" style="display:inline; font-size:12px; height:15px;"><span>&#160;</span></div>
		</td>
		<td width="30%" style="border-right: none;"><b>7</b>&nbsp;&nbsp;Line of business <div class="pbox mycheck" style="padding-left:150px; display:inline; height: 15px;"> <span>&#160;</span> </div></td>
	</tr>
</table>

<table width="100%" class="header-detail lLine rLine" cellpadding="0">
	<tr>
		<td width="80%">
			<table width="100%">
				<tr>
					<td class="removeborders" width="100%"><b>8</b>&nbsp;&nbsp;Withholding Agent&#39;s Name&nbsp;
					<span style="font-size: 6pt;">(Last Name, First Name, Middle Name for Individuals)/(Registered Name for Non-Individuals)</span>
					</td>
				</tr>
				<tr><td class="removeborders" width="100%">
					<table width="100%"><tr>
						<td width="3%" class="removeborders">&nbsp;</td>
						<td class="pbox" width="97%">{whAgentName}</td>
					</tr></table>
				</td></tr>
			</table>
		</td>
		<td width="20%" style="border-right: none;">
			<table width="100%">
				<tr><td class="removeborders"><b>9</b>&nbsp;&nbsp;Telephone Number:</td></tr>
				<tr><td class="removeborders" align="right">
						<table class="data-box" border="0px">
							<tr>
								<td style="font-size:12px;" class="separated-box txFirst">{telephone_0}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{telephone_1}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{telephone_2}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{telephone_3}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{telephone_4}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{telephone_5}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box txLast">{telephone_6}&nbsp;</td>
							</tr>
						</table>
				</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="80%">
			<table width="100%">
				<tr>
					<td class="removeborders" width="100%"><b>10</b>&nbsp;&nbsp;Registered Address</td>
				</tr>
				<tr><td class="removeborders" width="100%">
					<table width="100%"><tr>
						<td width="3%" class="removeborders">&nbsp;</td>
						<td class="pbox" width="97%">{whAddress}</td>
					</tr></table>
				</td></tr>
			</table>
		</td>
		<td width="20%" style="border-right: none;">
			<table width="100%">
				<tr><td class="removeborders"><b>11</b>&nbsp;&nbsp;ZIP Code:</td></tr>
				<tr><td class="removeborders" align="right">
						<table class="data-box" border="0px">
							<tr>
								<td style="font-size:12px;" class="separated-box txFirst">{zipCode_0}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{zipCode_1}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box">{zipCode_2}&nbsp;</td>
								<td style="font-size:12px;" class="separated-box txLast">{zipCode_3}&nbsp;</td>
							</tr>
						</table>
				</td></tr>
			</table>
		</td>
	</tr>
</table>

<table width="100%" class="header-detail lLine rLine">
	<tr>
		<td width="30%" style="border-bottom: none;"><b>12</b>&nbsp;&nbsp;Category of Withholding Agent<br/><span class="pbox mycheck"> &#160; </span> Private <span class="pbox mycheck"> &#160; </span> Government</td>
		<td width="70%" style="border-bottom: none; border-right: none;"><b>13</b>&nbsp;&nbsp;Are there payees availing of tax relief under Special Law or International Tax Treaty?<br/>
		<span class="pbox mycheck"> &#160; </span> Yes <span class="pbox mycheck"> &#160; </span> No <span style="margin-left:30px;">If Yes, specify</span> <span class="pbox mycheck" style="padding-left:160px;"> &#160; </span></td>
	</tr>
</table>

<table class="font9 rLine lLine" cellpadding="0" width="100%">
	<tr> 
		<td class="gray bLine" style="border-top: 2px solid #000000" width="10%"><b>Part II</b></td>
		<td class="gray bLine" style="border-top: 2px solid #000000" width="90%" align="center"><b>Computation of Tax</b></td>
	</tr>
</table>
