<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td align="left" width="5%"><b>14</b></td>
				<td align="left" width="95%">Total Tax Required to be Withheld and Remitted</td>
			</tr>
		</table>
	</td>
	<td width="6%" align="right"><b>14</b></td>
	<td class="lLine bLine white" width="13%" align="right">{box14}</td>
</tr>
<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td align="left" width="5%"><b>15</b></td>
				<td align="left" width="95%">Less: Tax Credits/Payments</td>
			</tr>
		</table>
	</td>		
	<td width="6%">&nbsp;</td>
	<td width="13%">&nbsp;</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%">&nbsp;</td>
				<td width="5%" align="left"><b>15A</b></td>
				<td width="90%" align="left">Tax Remitted in Return Previously Filed, if this is an Amended Return</td>
			</tr>
		</table>
	</td>
	<td width="6%" align="right"><b>15A</b></td>
	<td width="13%" class="tLine lLine white" align="right">{box15a}</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%">&nbsp;</td>
				<td width="5%" align="left"><b>15B</b></td>
				<td width="90%" align="left">Advance Payments Made (please attach proof of payments - BIR Form No. 0605)</td>
			</tr>
		</table>
	</td>		
	<td width="6%" align="right"><b>15B</b></td>
	<td width="13%" class="tLine lLine white" align="right">{box15b}</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%">&nbsp;</td>
				<td width="5%" align="left"><b>15C</b></td>
				<td width="90%" align="left">Total Tax Credits/Payments (Sum of Items 15A &amp; 15B)</td>
			</tr>
		</table>
	</td>
	<td width="6%" align="right"><b>15C</b></td>
	<td width="13%" class="tLine lLine white" align="right">{box15c}</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%" align="left"><b>16</b></td>
				<td width="95%" align="left">Tax  Still Due/(Overremittance) (Item 14 less Item 15C)</td>
			</tr>
		</table>
	</td>
	<td width="6%" align="right"><b>16</b></td>
	<td width="13%" class="tLine lLine bLine white" align="right">{box16}</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%"><b>17</b></td>
				<td width="20%" align="left">Add: Penalties</td>
				<td width="25%" align="center">Surcharge</td>
				<td width="25%" align="center">Interest</td>
				<td width="25%" align="center">Compromise</td>
			</tr>
		</table>
	</td>
	<td width="6%">&nbsp;</td>
	<td width="13%">&nbsp;</td>
</tr>

<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="25%">&nbsp;</td>
				<td width="5%"><b>17A</b></td>
				<td class="borders white" align="right" width="20%">{box17a}</td>
				<td width="5%"><b>17B</b></td>
				<td class="borders white" align="right" width="20%">{box17b}</td>
				<td width="5%"><b>17C</b></td>
				<td class="borders white" align="right" width="20%">{box17c}</td>
			</tr>
		</table>
	</td>
	<td width="6%" align="right"><b>17D</b></td>
	<td width="13%" class="tLine lLine white" align="right">{box17d}</td>
</tr>
 
<tr>
	<td width="81%">
		<table width="100%">
			<tr>
				<td width="5%" align="left"><b>18</b></td>
				<td width="95%" align="left">Total Amount Still Due/(Overremittance) (Sum of Items 16 &amp; 17D)</td>
			</tr>
		</table>
	</td>
	
	<td width="6%" align="right"><b>18</b></td>
	<td width="13%" class="tLine lLine bLine white" align="right">{box18}</td>
</tr>

<tr>
	<td colspan="5" width="100%">
		<table cellpadding="0" width="100%">
			<tr>
				<td width="5%">&nbsp;</td>
				<td width="25%">If overremittance, mark one box only:</td>
				<td width="5%" align="left"><span class="pbox mycheck">&nbsp;</span></td>
				<td width="20%" align="left">&nbsp;To be Refunded</td>
				<td width="5%" align="left"><span class="pbox mycheck">&nbsp;</span></td>
				<td width="20%" align="left">&nbsp;To be issued a Tax Credit Certificate</td>
			</tr>
		</table>	
	</td>
</tr>
