<!-- 
the main template of the withholding tax 1601-E online form
@author vincent agudelo  
-->
<link name='arabic' type='font' subtype='opentype' src='{arabicfont}' src-bold='{arabicfont}' src-italic='{arabicfont}' src-bolditalic='{arabicfont}' bytes='1'></link>
<style>
	#withholding-form {
		width: 800px;
		border:1px solid #999999;
		font-family: Verdana, Arial, Helvetica, sans-serif, arabic;
		font-size: 11px;
	}
	
	body #withholding-form td {
				font-family: Verdana,Arial,Helvetica,sans-serif, arabic;
				font-size : 11px;
	}
	
	#wform-head {
		border-bottom:1px solid #999999;
		height: 90px;
	}
	
	#wform-head .form-head-item {
		float:left;
	}
	
	#wform-head #form-logo {
		width:27%;
		font-size:9px;
		padding-top:5px;
	}
	
	#wform-head #form-logo span {
		font-size:8px;
	}
	
	
	#wform-head #form-title {
		width:50%;
		font-size:20px;
		text-align: center;
	}
	
	
	
	#wform-head #form-number {
		width:20%;
		font-size: 9px;
		float:right;
	}
	
	#wform-head #form-number .form-number-disp {
		font-size:36px;
	}
	
	/* tax table styles */
	#tax-data-table{
		width:100%;
		border-collapse:collapse;
	}
	
	#tax-data-table th {
		background-color:#CCCCCC;
		font-size: 9px;
		font-weight: bold;
	}
	
	#tax-data-table td, #tax-data-table th, #cont-list-table td {
		border-right:1px solid #999999;
		font-size:11px;
	}
	
	.nature-col {
		width: 350px;
	}
	
	.atc-col{
		width: 100px;
		text-align: center;
	}
	
	.tax-base-col{
		width:100px;
		text-align:right;
	}
	
	.nature-col span, .tax-base-col span, .tax-rate-col span, .tax-required-col span {
		margin: 0px 4px;
		
	}
	
	.tax-rate-col{
		width:100px;
		text-align:right;
	}
	
	.tax-required-col {
		text-align:right;
		/* width:100px; */
	}
	
	
	/* adjustments */
	
	.adj-line td {
		background-color: #CCCCCC;
		height:25px;
		font-size:11px;
		border: 1px solid #999999;
		border-top: none;
		border-left: none;
		height: 25px;	
	}
	.adjcol1 {
		
	}
	
	
	
	.adj-labels {
		float: left;
		width:100px;	
	}
	
	.tax-line-no, .adj-field { float:left; }
	
	.adj-field span, .tax-line-no {
		font-weight:bold;
	}
	
	.tax-line-no {
		width: 25px;
	}
	
	 .adj-subcat .tax-line-no {
	 	margin-left: 20px;
		width: 30px;
	 }
	
	.adj-field span {
		margin-right:3px;
	}
	
	.adj-field {
		margin-right:35px;
	}
	
	.adj-field input {
		width: 90px;
	}
	
	#input-box-row .tax-line-no {
		width:100px;
	}
	
	#adj-label1 {
		margin-left:20px;
		margin-right:59px;
	}
	
	#adj-label2 {
		margin-right:40px;
	}
	
	#adj-label3 {
		
	}
	
	.adj-line-mumber2 {
		font-weight: bold;
		text-align:right;
		width: 70px;
	}
	
	.adj-total-box input {
		width: 75px;
		font-size:11px;
	}
	
	.adj-field input, .adj-total-box input {
		border:1px solid #999999;
		text-align: right;
	}
	
	
	.adj-line td.adj-total-box {
		background: none;
		text-align: right;
		padding-right:2px;
		width:90px;
	}
	
	
	/* new styles */
	#pseudo-header th {
		font-size: 11px;
		font-weight: bold;
		border-right:1px solid #999999;
		background-color: #CCCCCC;
		height: 20px;
		text-align:center;
	}
	
	#listed-content td {
		font-size: 11px;
		border:1px solid #999999;
		border-left:none;
		border-top:none;
		height: 25px;
	}
	
	.ext-space {
		width:14px;
	}
	
</style>
		
		


<div id="withholding-form">
	<table cellpadding="0" border="0">
		<tr><td>
			<div id="wform-head">
				<div id="form-logo" class="form-head-item">
					<img height="50px" src="{PhBirLogoUrl}" align="left">
					Republika ng Pilipinas<br>
					Kagawaran ng Pananalapi<br>
					Kawanihan ng Rentas Internas<br><br><br>
					<span>(Except for transactions involving onerous transfer of real property classified as ordinary asset)</span>
				</div>
				
				<div id="form-title" class="form-head-item"><b>Monthly Remittance Return<br/>of Creditable  Income Taxes<br/>Withheld (Expanded)</b></div>
				<div id="form-number" class="form-head-item">
					BIR Form No.<br>
					<span class="form-number-disp"><b>1601-E</b></span><br>
					August 2008 (ENCS)
				</div>
			</div>
		</td></tr>
		
		<tr><td>
			<div id="wform-part2">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="5">
							<table id="pseudo-header" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<th width="50%" class="nature-col">NATURE OF INCOME PAYMENT</th>
									<th width="10%" class="atc-col">ATC</th>
									<th width="15%" class="tax-base-col">TAX BASE</th>
									<th width="10%" class="tax-rate-col">TAX RATE</th>
									<th width="15%" class="tax-required-col">TAX REQUIRED TO BE WITHHELD</th>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<td colspan="5">
							<table id="listed-content" cellpadding="0" cellspacing="0" width="100%">
								{tcRows}
							</table>
						</td>
					</tr>
					
					<tr class="adj-line">
						<td width="75%" colspan="3" class="adjcol1" style="border-right:none"><div class="tax-line-no">14</div>Total Tax Required to be Withheld and Remitted</td>
						<td width="10%" align="right"><b>14</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-14">{box14}</td>
					</tr>
		
					<tr class="adj-line">
						<td width="100%" colspan="5"><div class="tax-line-no">15</div>Less:  Tax Credits/Payments</td>
					</tr>
		
					<tr class="adj-line">
						<td width="75%" colspan="3" class="adj-subcat" style="border-right:none"><div class="tax-line-no">15A</div>Tax Remitted in Return Previously Filed, if this is an Amended Return</td>
						<td width="10%" align="right"><b>15A</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-15A"><input onchange="onChangeTxField('15a', this)" id="box15a" type="text" value="{box15a}" onkeypress="return IsNumeric(event, this);"></td>
					</tr>
		
					<tr class="adj-line">
						<td width="75%" colspan="3" class="adj-subcat" style="border-right:none"><div class="tax-line-no">15B</div>Advance Payments Made (please attach proof of payments - BIR Form No. 0605)</td>
						<td width="10%" align="right"><b>15B</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-15B"><input onchange="onChangeTxField('15b', this)" type="text" value="{box15b}" id="box15b" onkeypress="return IsNumeric(event, this);"></td>
					</tr>
		
					<tr class="adj-line">
						<td width="75%" colspan="3" class="adj-subcat" style="border-right:none"><div class="tax-line-no">15C</div>Total Tax Credits/Payments (Sum of Items 15A & 15B)</td>
						<td width="10%" align="right"><b>15C</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-15C">{box15c}</td>
					</tr>
		
					<tr class="adj-line">
						<td width="75%" colspan="3" style="border-right:none"><div class="tax-line-no">16</div>Tax  Still Due/(Overremittance) (Item 14 less Item 15C)</td>
						<td width="10%" align="right"><b>16</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-16">{box16}</td>
					</tr>
		
					<tr class="adj-line">
						
						<td width="75%" colspan="3" style="border-right:none">
							<table border="0" cellpadding="0" width="100%">
								<tr>
									<td width="30%" style="border-right:none; border-bottom:none"><div class="tax-line-no">17</div>Add: Penalties</td>
									<td colspan="2" style="border-right:none; border-bottom:none" width="23%">Surcharge</td>
									<td colspan="2" style="border-right:none; border-bottom:none" width="23%">Interest</td>
									<td colspan="2" style="border-right:none; border-bottom:none" width="23%">Compromise</td>
								</tr>
							</table>
						</td>
						<td width="25%" colspan="2" style="style="border-right:none; border-bottom:none"">&nbsp;</td>
					</tr>
					
		
		
					<tr class="adj-line">
						<td width="75%" colspan="3" style="border-right:none">
							<table border="0" cellpadding="0" width="100%">
								<tr>
									<td style="border-right:none; border-bottom:none" width="30%">&nbsp;</td>
									<td style="border-right:none; border-bottom:none" width="3%"><b>17A</b></td>
									<td style="border-right:none; border-bottom:none" width="20%"><div style="margin-right:0px;" class="adj-field" id="wh-field-17A"><input style="font-size: 11px;" onchange="onChangeTxField('17a', this)" type="text" value="{box17a}" onkeypress="return IsNumeric(event, this);" id="box17a"></div></td>
									<td style="border-right:none; border-bottom:none" width="3%"><b>17B</b></td>
									<td style="border-right:none; border-bottom:none" width="20%"><div style="margin-right:0px;" class="adj-field" id="wh-field-17B"><input style="font-size: 11px;" onchange="onChangeTxField('17b', this)" type="text" value="{box17b}" onkeypress="return IsNumeric(event, this);" id="box17b"></div></td>
									<td style="border-right:none; border-bottom:none" width="3%"><b>17C</b></td>
									<td style="border-right:none; border-bottom:none" width="20%"><div style="margin-right:0px;" class="adj-field" id="wh-field-17C"><input style="font-size: 11px;" onchange="onChangeTxField('17c', this)" type="text" value="{box17c}" onkeypress="return IsNumeric(event, this);" id="box17c"></div></td>
								</tr>
							</table>
						</td>
						<td width="10%" align="right"><b>17D</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-17D">{box17d}</td>
					</tr>
		
					<tr class="adj-line">
						<td width="75%" colspan="3" style="border-right:none"><div class="tax-line-no">18</div>Total Amount Still Due/(Overremittance) (Sum of Items 16 & 17D) </td>
						<td width="10%" align="right"><b>18</b></td>
						<td width="15%" class="adj-total-box" id="wh-field-18">{box18}</td>
					</tr>
				</table>
			</div>
		</td></tr>
</div>