<!--
this is the template for each row of the online withholding tax 1601-E
@author vincent agudelo 
-->
<tr>
	<td width="50%" class="nature-col"><div style="margin:4px">{desc}</div></td>
	<td width="10%" class="atc-col"><span>{atc}</span></td>
	<td width="15%" class="tax-base-col"><span>{base}</span></td>
	<td width="10%" class="tax-rate-col"><span>{rate}</span></td>
	<td width="15%" class="tax-required-col"><span>{sumWh}</span></td>
</tr>